@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #343434;
}

@layer utilities {
  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}

@theme {
  --color-brand-orange: #ff5f00;
}
